<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ricardogarcia.photocloud">

    <uses-feature android:name="android.hardware.camera" android:required="true"/>

    <application
        android:name=".application.PhotoCloudApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.home.HomeActivity"
            android:theme="@style/Base.Theme.AppCompat.Light" />
        <activity android:name=".activities.login.LoginActivity" />
        <activity android:name=".activities.register.RegisterActivity" />
        <activity android:name=".activities.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ff3d1ab0526421c7e0b70ea00289202ff2f85cc2" />

        <activity android:name=".activities.album.AlbumActivity"
            android:theme="@style/Base.Theme.AppCompat.Light"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>

</manifest>